{% load static %}
<html lang="en">
  {% include 'header_links.html' %}

  <!-- Body Start -->
  <body>
    <div class="bg-pattern-wrap ratio2_1">
      <!-- Background Image -->
      <div class="bg-patter">
        <img
          src="assets/images/banner/bg-pattern2.png"
          class="bg-img"
          alt="pattern"
        />
      </div>
    </div>

    <!-- Main Start -->
    <main class="main-wrap login-page mb-xxl">
      <img class="logo" src="{% static 'images/logo/logo.png' %}" alt="logo" />
      <img
        class="logo logo-w"
        src="{% static 'images/logo/logo-w.png' %}"
        alt="logo"
      />
      <p class="font-sm content-color">
        Online Supermarket for all your daily needs. you are just One Click away
        from your all needs at your door step.
      </p>

      <!-- Login Section Start -->
      <section class="login-section p-0">
        <!-- Login Form Start -->
        <form
          action="https://themes.pixelstrap.com/fastkart-app/otp.html"
          class="custom-form"
        >
          <h1 class="font-md title-color fw-600">Forgot Password</h1>

          <!-- Email Input start -->
          <div class="input-box">
            <input
              type="email"
              placeholder="Email Address"
              required
              class="form-control"
            />
            <i data-feather="at-sign"></i>
          </div>
          <!-- Email Input End -->

          <button type="submit" class="btn-solid">Send OTP</button>
          <span class="content-color font-sm d-block text-center fw-600">
            <a href="{% url 'login' %}" class="underline"
              >Back to Sign In
            </a></span
          >
        </form>
        <!-- Login Form End -->
      </section>
      <!-- Login Section End -->
    </main>
    <!-- Main End -->
    {% include 'footer_links.html' %}
  </body>
</html>
